.features {
  @include for-dekstop-up {
    order: 2;
    
  }
  form {
    width: 20.4375rem;
    height: 35.75rem;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0px 0.5625rem 0.3125rem hsla(0, 0, 0, 0.4);

    @include for-dekstop-up {
      width: 33.75rem;
      height: 29.8125rem;
    }
  }
  .content {
    margin-bottom: 4.0625rem;

    &__box {
      position: relative;
    }
  }

  .field {
    margin-bottom: 2.8125rem;
    position: relative;
    height: 3.375rem;
    width: 17.5rem;
    background-color: white;

    @include for-dekstop-up {
      width: 28rem;
    }

    &__label {

      font-size: 1rem;
      font-weight: 600;
      color: $blue;
      position: absolute;
      padding: 0 0.8rem;
      left: 0.1rem;
      top: 0.85rem;
      cursor: text;
      background: white;
    }

    &__input {
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
      font-family: inherit;
      font-weight: 600;
      top: 0;
      left: 0;
      border: 0.0625rem solid $grayishBlue;
      background: none;
      border-radius: 0.25rem;
      padding: 1rem;
      outline: none;

      &:hover {
        border-color: $blue;
      }

      &:focus {
        border-color: $darkBlue;
      }
    }

    .icon {
      position: absolute;
      right: 1rem;
      top: 0.9rem;
      
    }

    .text {
      position: absolute;
      font-size: 0.8rem;
      margin-top: 3.5rem;
      right: 1rem;
      color: $red;
      font-style: oblique;
    }

    .hidden {
      display: none;
    }

    //invalid states

    .invalid input  {
      border: 0.0625rem solid $red;
    }

    .invalid svg.icon  {
      display: block;
    }

    .invalid p.text  {
      display: block;
    }
   
  }

  .btn2 {
    background-color: $green;
    width: 17.5rem;
    height: 3.375rem;
    padding: 1.4375rem 2.875rem 1.25rem 2.875rem;
    font-size: 0.9375rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
    line-height: 0;
    box-shadow: 0px 0.25rem 0.125rem hsla(154, 82%, 38%, 1);

    @include for-dekstop-up {
      width: 28.8125rem;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .important {
    padding-top: 0.9375rem;
  }

  span {
    color: $grayishBlue;
    font-size: 0.8125rem;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;

    b {
      color: $red;
    }
  }
}
