.main {
  form {
    width: 20.4375rem;
    height: 27.6875rem;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0px 0.5625rem 0.3125rem hsla(0, 0, 0, 0.4);
  }
  .form {
    margin-bottom: 4.0625rem;
    &__group {
      margin-bottom: 1.0625rem;
    }
  }

  input[type='text'],
  [type='password'] {
    width: 17.375rem;
    height: 3.375rem;
    border: 0.0625rem solid $grayishBlue;
    border-radius: 0.25rem;

    &:focus {
      border: 2px solid $darkBlue;
    }
  }

  .btn2 {
    background-color: $green;
    width: 17.375rem;
    height: 3.375rem;
    padding: 1.4375rem 2.875rem 1.25rem 2.875rem;
    font-size: 0.9375rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
    line-height: 0;
    box-shadow: 0px 0.25rem 0.125rem hsla(154, 82%, 38%, 1);

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .important {
    padding-top: 0.9375rem;
  }

  span {
    color: $grayishBlue;
    font-size: 0.8125rem;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;

    b {
      color: $red;
    }
  }
}
